body {
}


#Table1 {

    margin:auto 10px 10px 10px;
    border: 2px solid grey;

}

#Table1 td {

    border: 1px solid grey;
    padding: 10px;
    
}

#botCell{
    margin: auto auto auto auto;
    text-align:center;
}

#ListBox1{
    width:200px;
}