<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="eirla1_pubsConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=eirla1_pubs;User ID=eirla1;Password=Elwi1994geek"
            providerName="System.Data.SqlClient" />
        <add name="kbridgeman1_pubsConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=kbridgeman1_pubs;User ID=kbridgeman1;Password=Ktrui135135"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
